@using System.Web.Optimization
@{
    ViewBag.ActiveMenu = PageNames.Home; //The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/Bundles/home-index")
}
<div class="block-header">
    <h2>Google Drive Update</h2>
</div>

<form method="get" action="/drive/indexasync" method="get">
    <button type="submit" class="btn btn-primary">Click here to update google docs</button>
</form>